In [1]:
#Libraries for cleaning
import pandas as pd
import numpy as np

# Libraries for visualizing data
import matplotlib.pyplot as plt
import seaborn as sns

#Configure visualizing tools
%matplotlib inline
plt.style.use('ggplot')
sns.set_style('white')
plt.rcParams['figure.figsize'] = (12, 8)

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df_21=pd.read_csv('master_21.csv')

In [4]:
df_21.head()

,Almacén,Cliente,Identificación cliente,Telefono cliente,Celular cliente,# factura,Codigo del producto,Detalle producto,Cantidad producto,Cantidad Devueltas,Fecha factura,Precio venta x producto,Precio compra x producto,Descuento,Descuento Total,Venta - descuento,impuesto Total,Impuesto,Subtotal,Total venta,Ciudad,Forma pago,Vendedor,Vendedor2,Usuario,No. Transacción,Promoción,Nota,Categoria,Proveedor,Nota Crédito,Grupo
0,Cabecera,general,0.0,NaN,NaN,No2,49,Sandwich de atún,1.0,0.0,2021-04-26 14:15:12,13500.0,9300.0,0.0,0.0,13500.0,0.0,0.0,13500.0,13500.0,NaN,efectivo,NaN,NaN,erickfaloquin@gmail.com,NaN,NaN,,CARTA,NaN,No,sin grupo
1,Cabecera,general,0.0,NaN,NaN,No3,79,Soda con frutas,1.0,0.0,2021-04-26 16:49:48,5000.0,2000.0,0.0,0.0,5000.0,0.0,0.0,5000.0,5000.0,NaN,efectivo,NaN,NaN,erickfaloquin@gmail.com,NaN,NaN,,CARTA,Alfoli,No,sin grupo
2,Cabecera,general,0.0,NaN,NaN,No4,79,Soda con frutas,1.0,0.0,2021-04-26 16:54:27,5000.0,2000.0,0.0,0.0,5000.0,0.0,0.0,5000.0,5000.0,NaN,efectivo,NaN,NaN,erickfaloquin@gmail.com,NaN,NaN,,CARTA,Alfoli,No,sin grupo
3,Cabecera,general,0.0,NaN,NaN,No5,MAC,Mogollitas de Arroz con Cacao 100% 360gr,1.0,0.0,2021-04-26 17:33:26,12000.0,7500.0,0.0,0.0,12000.0,0.0,0.0,12000.0,12000.0,NaN,efectivo,NaN,NaN,erickfaloquin@gmail.com,NaN,NaN,,Panadería Saludable,Reborn,No,sin grupo
4,Cabecera,general,0.0,NaN,NaN,No5,66,Americano,1.0,0.0,2021-04-26 17:33:26,3000.0,1000.0,0.0,0.0,3000.0,0.0,0.0,3000.0,3000.0,NaN,efectivo,NaN,NaN,erickfaloquin@gmail.com,NaN,NaN,,CARTA,NaN,No,sin grupo

In [5]:
df_21.shape

(4488, 32)

In [6]:
#df_21[#'Vendedor',
      #'Vendedor2'
      #'Identificación cliente'
      #'Almacén'
      #'Cliente'
      #'Cantidad Devueltas'
      #'Descuento'
      #'Descuento Total'
      #'Impuesto'
      #'impuesto Total'
      #'Usuario'
      #'Grupo'
      #'Nota'
      #'Nota Crédito'
      #'Proveedor'
      #'Promoción'
      #'Forma pago'].unique()

#Need to check Column 'Promoción'

In [7]:
df_21['No. Transacción'].unique()

array([nan, 'Total:'], dtype=object)

In [8]:
# Drop columns with no significant data, NANs or empty fields
df_21=df_21.drop(['Almacén', 'Cliente', 'Cantidad Devueltas','Impuesto','impuesto Total','Telefono cliente', 'Celular cliente', 'Ciudad', 
                  'Vendedor','Vendedor2', 'Identificación cliente','Subtotal','Usuario','Grupo','Nota','Nota Crédito','No. Transacción'],axis=1)

In [9]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4488 entries, 0 to 4487
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   # factura                 4470 non-null   object
 1   Codigo del producto       4470 non-null   object
 2   Detalle producto          4470 non-null   object
 3   Cantidad producto         4470 non-null   float64
 4   Fecha factura             4470 non-null   object
 5   Precio venta x producto   4470 non-null   float64
 6   Precio compra x producto  4470 non-null   float64
 7   Descuento                 4470 non-null   float64
 8   Descuento Total           4470 non-null   float64
 9   Venta - descuento         4470 non-null   float64
 10  Total venta               4470 non-null   float64
 11  Forma pago                4479 non-null   object
 12  Promoción                 9 non-null      float64
 13  Categoria                 4470 non-null   object
 14  Proveedor                 1385 non-null   object
dtypes: float64(8), object(7)
memory usage: 526.1+ KB

In [12]:
#rename columns for enhancing the readability and consistency of the dataset
df_21=df_21.rename(columns={'# factura':'bill_number','Codigo del producto':'product_code','Detalle producto':'product_details','Cantidad producto':'product_qty','Fecha factura':'date','Precio venta x producto':'unit_sell_price',
                      'Precio compra x producto':'cost_per_unit','Descuento':'discount','Descuento Total':'T_discount','Venta - descuento':'sell_margin','Total venta':'sell_total','Forma pago':'payment_method',
                      'Promoción':'promo','Categoria':'category','Proveedor':'provider'})

In [13]:
df_21.head()

,bill_number,product_code,product_detail,product_qty,date,unit_sell_price,cost_per_unit,discount,T_discount,sell_margin,sell_total,payment_method,promo,category,provider
0,No2,49,Sandwich de atún,1.0,2021-04-26 14:15:12,13500.0,9300.0,0.0,0.0,13500.0,13500.0,efectivo,NaN,CARTA,NaN
1,No3,79,Soda con frutas,1.0,2021-04-26 16:49:48,5000.0,2000.0,0.0,0.0,5000.0,5000.0,efectivo,NaN,CARTA,Alfoli
2,No4,79,Soda con frutas,1.0,2021-04-26 16:54:27,5000.0,2000.0,0.0,0.0,5000.0,5000.0,efectivo,NaN,CARTA,Alfoli
3,No5,MAC,Mogollitas de Arroz con Cacao 100% 360gr,1.0,2021-04-26 17:33:26,12000.0,7500.0,0.0,0.0,12000.0,12000.0,efectivo,NaN,Panadería Saludable,Reborn
4,No5,66,Americano,1.0,2021-04-26 17:33:26,3000.0,1000.0,0.0,0.0,3000.0,3000.0,efectivo,NaN,CARTA,NaN

#### There is a lot of missing data, so I worked with the manager of the restaurant to make up for the mistakes such as:
* Providers are not well listed.
* Category field does not reflect the reality of the restaurant work flow
* There are a lot of incongruencies within the fields product_code and product_details